# Python Exercise

## Task 1:

Write a Python program to test whether a number is within 100 of 1000 or 2000.

In [ ]:
<YOUR CODE>

## Task 2:

Write a Python program to calculate the difference between a given number and 17. If the number is greater than 17, return twice the absolute difference.

In [ ]:
<YOUR CODE>

## Task 3:

Write a Python program to calculate the sum of three given numbers. If the values are equal, return three times their sum.

In [ ]:
<YOUR CODE>

## Task 4:

The cell below contains and error.

- Run the cell
- See where the error is
- Correct the code and run it

In [1]:
print('My name is' + 'John')
print('Today is my birthday')
print('My age is ' + 43)

My name isJohn
Today is my birthday

TypeError: can only concatenate str (not "int") to str

In [ ]:
<YOUR CODE>

## Task 5:

Let's find out some information about Russian passport holder.

The ID of Russian passports looks like this: 4612 796901, where the first two digits â€” an ID of the region, where it was issued. And the second pair of digits is the year, when it was issued.

In [ ]:
# Input the passport ID number, store it into `ID`
<YOUR CODE>

# Store the first two digits in the variable `region`
<YOUR CODE>

# Store the second pair of digits in the variable `year`
<YOUR CODE>

# Print the fill `ID`
<YOUR CODE>

# Print the string 'This passport was issued in', `year` variable, 'year.'
<YOUR CODE>

# Print the string 'This passport was issued in', `region` variable, 'region.'
<YOUR CODE>

## Task 6:

How to write all letters of a word seperately in one line???

In [2]:
text = "Hello"
for i in text:
    print(i)

H
e
l
l
o

In [ ]:
<YOUR CODE>

## Task 7:

Let's find how much do the cake pieces weigh.

In [ ]:
# input the number of pieces we need to devide and store in `a`
<YOUR CODE>

# Convert the variable `a` into the integer
<YOUR CODE>

# input how much kilos does the entire cake has (directly convert it into the float)
<YOUR CODE>

# find out how much each piece weight, put it into variable `c`
<YOUR CODE>

# glue three strings together: "One piece is ", content of `c`, and " kilos." - into variable `answer`
<YOUR CODE>

# print the result
<YOUR CODE>

## Task 9:

Write a Python program which checks a text, if the length of the text is greater or equal to two, and the first two letters are "Is" just return the text. If not, add "Is" infront of the string and return the result.

In [ ]:
<YOUR CODE>

## Task 10:

Write a Python program that returns a string that is n (non-negative integer) copies of a given string.

In [ ]:
<YOUR CODE>

## Task 11:

Write a Python program that determines whether a given number (accepted from the user) is even or odd, and prints an appropriate message to the user.

In [ ]:
<YOUR CODE>

## Task 12:

Write a Python program to count the number 5 in a given list.

In [ ]:
<YOUR CODE>

## Task 13:

Write a Python program to find the median of three values.

In [ ]:
<YOUR CODE>

## Task 14:

Write a Python program to calculate the sum and average of n integer numbers (input from the user). Input 0 to finish.

In [ ]:
<YOUR CODE>

## Task 15:

Write a Python program to get the largest number from a list.

In [ ]:
<YOUR CODE>

## Task 16:

Write a Python program to get the smallest number from a list.

In [ ]:
<YOUR CODE>

## Task 17:

Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.

> Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

> Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [ ]:
<YOUR CODE>

## Task 18:

Write a Python program to remove duplicates from a list.

In [ ]:
my_list = [5, 5, 10, 20, 30, 40, 5, 5, 10, 10, 70, 80, 90, 90]

<YOUR CODE>